body{
    margin:0;
    padding: 25px;  
}
.box-container-one{
    width: 100%;
    border: 5px solid #000000;
    height: 234px;
    padding: 10px;
    box-sizing:border-box;
}
.square-one{
    width: 50px;
    height: 150px;
    display: inline-block;
    background-color:blueviolet;
}

.square-two{
    height: 200px;
    width: 400px;
    margin: 0 50px;
    display: inline-block;
    background-color: forestgreen;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: skyblue;
    display: inline-block;
}
.box-container-two{
    width: 100%;
    border: 5px dotted #000000;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 25px;
}

.box-container-two .inner-box{
    width: 100%;
    height: 200px;
    background-color: #fffacd;
    box-shadow: 10px 10px 5px 0#000000;
}
.box-container-three{
    width: 50%;;
    border: 1px solid #ccc;
    padding: 100px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 3px 3px 3px 0 #000000;
}

.inner-content h1{
    text-align: center;
    letter-spacing: 5px;
    color: #000080;
    
}
