body{
    background-color: #ddd;
}

.header{
    width: 100%;
    height: 200px;
    background-color: black;
}

.content{
    width: 80%;
    margin: 0 auto;
    height: 650px;
    background-color: #eee;
}
.footer {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    background-color: black;
}