/* body css */
body{
    background-color: #d8d8d8;
    margin: 0px;
}
/* class header css */
.header{
    background-color: #444444;
    height: 197px;
}

/* class body css */
.body {
    background-color: #efeeee;
    width:75%;
    height: 689px;
    margin: 0px auto;
}

/* class footer css */
.footer {
    background-color: #212121;
    margin: 0px auto; 
    height: 98px;
    width: 75%
}
